<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <!--Load bootstrap.css file-->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1 class="display-4">Hello, {{ name }}</h1>
            <p class="lead">This is a simple site, a simple from mfikri.com.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <br>
      <div class="jumbotron">
        <h1 class="display-4">Message App</h1>
        <br>
        <input id="name" class="form-control" placeholder="Họ tên">
        <br>
        <textarea id="message" class="form-control" placeholder="Nhập tin nhắn tại đây"></textarea>
        <br>
        <button id="send" class="btn btn-success">Gửi</button>
      </div>
      <div id="messages"></div>
    </div>

    <!--Load bootstrap.js file-->
    <script src="js/bootstrap.js"></script>
    <script>
      var socket = io();
      socket.on(‘message’, addMessages);
      
      $(() => {
        $("#send").click(()=>{
          sendMessage({
            name: $("#name").val(), 
            message:$("#message").val()});
          })
          getMessages()
      })

      function addMessages(message){
        $("#messages").append(`
          <h4> ${message.name} </h4>
          <p>  ${message.message} </p>`)
      }

      function getMessages(){
        $.get('http://localhost:3000/messages', (data) => {
         data.forEach(addMessages);
        })
      }

      function sendMessage(message){
        $.post('http://localhost:3000/messages', message)
      }

      
    </script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>